html, body  {
    user-select: none;
    margin: 0;
    height: 100vh;
}

#bg {
    position: fixed;
    z-index: -1;
    left: -200px;
    top: -200px;
    width: calc(100vw + 200px);
    height: calc(100vh + 200px);
}

.hero {
    position: absolute;
    top: 50vh;
    left: 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    filter: drop-shadow(5px 5px 0#0004);
}

.hero h1 {
    position: absolute;
    font-size: 8vw;
}

.hero img {
    position: absolute;
    width: 60vw;
    height: auto;
}


.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    overflow: auto;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.content > *{
    flex-shrink: 0;
}

.window{
    max-height: 80vh;
    overflow: scroll;
    align-items: center;
}

.window,
.subwindow {
    display: flex;
    flex-direction: column;
    background-color: var(--color-container-1);
    width: min(80vw, 600px);
    padding: 1em;
}

#pfp {
    transition: .2s;
    filter: drop-shadow(4px 0px 0 #0004);
    transform-origin: bottom center;
    background-image: url(/res/img/avatar/tempIcon.png);
    background-size: 100%;
}

#pfp:hover {
    transform: scale3d(1,1.025,1);
        background-image: url(/res/img/avatar/tempIcon2.png);

}

#pfp:active {
    transform: scale3d(1.05,0.95,1);
    background-image: url(/res/img/avatar/tempIcon3.png);
}

@media (orientation: portrait) {
 #pfp {order: -1;}

}

.subwindow {
    width: auto;
    margin: .5em;
}

.padding{
    display: block;
    height: 50px;
    width: 50px;
}