:root {

    /* main colors */
    --color-cyan:    #00bcd4;
    --color-magenta: #ff0080;
    --color-yellow:  #ffd000;
    --color-key:     #272838;
    /* aux-colors*/
    --color-lime:    #90f000;
    --color-orange:  #f09c00;
    --color-red:     #f01c00;
    --color-purple:  #d800f0;
    /* aliases */
    --color-confirm: var(--color-lime);
}

/* light theme colors (ew...)*/
@media (prefers-color-scheme: light) {
    :root {
    }
}