body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #444;
    font-size: 2.25vmin;
}


#sidebar{
    display: flex;
    flex-direction: column;
    width: 12em;
    height: 50vh;
    margin-top: -30vh;
    margin-right: 5vw;

}

#sidebar > *{
    padding: .5em;
    text-align: left;
    height: 1.25em;
    background-color: #111;
    transition: background-color .2s, text-indent .2s;
}

#sidebar > *:hover {
    background: #333;
    text-indent: .5em;

}

#content {
    width: 60vw;
    height: 80vh;
    background-color: #111;
    overflow: scroll;
    border-radius: 20px  ;
}
#content > div {
 padding-top: 3vmin;
 padding-bottom: 3vmin;
}

#content > div:nth-child(2n) {
    background-color: #531f1f;
}

div.hori {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.vert {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {width: 75%;}
