:root {
    --border-color: #444444;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    will-change: background-position;
    animation: bgScroll 20s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bgScroll {
    0% {
        background-position: 0px 0px, 0px 100px, 100px 0px, 100px 100px;
    }

    100% {
        background-position: 400px 200px, 400px 300px, 500px -200px, 500px -100px;
    }
}

#main-window {
    display: grid;
    grid-template-columns: [sidebar] 150px [content] auto;
    grid-template-rows: [title] 40px [container] auto [footer] 40px;
    grid-template-areas:
        "titlebar titlebar"
        "sidebar content"
        "footer footer";
    width: 800px;
    height: 600px;
    transition: .5s;
}

#main-window.fullscreen {
    width: 100vw;
    height: 100vh;
}

#title-bar {
    grid-area: titlebar;

    display: flex;
    align-items: center;

    border-radius: 15px 15px 0 0;
    border: solid 1px var(--border-color);

    background-color: rgb(from var(--color-background-2) r g b / .75);
    backdrop-filter: blur(5px);
}

#title-bar h1 {
    font-size: 1.5em;
    padding-left: 15px;
}

#side-bar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;

    border-left: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
    background-color: var(--color-background-2);
}

#side-bar>* {
    transition: .2s;
}

#side-bar>*:nth-child(3n+1) {
    --color: var(--color-cyan);
}

#side-bar>*:nth-child(3n+2) {
    --color: var(--color-magenta);
}

#side-bar>*:nth-child(3n+0) {
    --color: var(--color-yellow);
}

#side-bar>div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4px 0;
    background-image: linear-gradient(90deg, var(--color), transparent);
    background-repeat: no-repeat;
    background-position: -150px;
}


#side-bar>div:hover {
    background-position: 0px;
}



#side-bar h1 {
    font-size: 1.5em;
    margin: 0;
}

#side-bar>div:hover h1 {
    scale: (1.1);
}

/* side-bar overrides */
#search-bar input, #search-bar input[value=""] {
    width: 120px;
    background-color: transparent;
    border-radius: 120px;
}

#search-bar input:hover,  #search-bar input:not([value]){
    background-color: #0007;
}

#search-bar input:focus {
    background-color: #000a;
}

#content-area {
    grid-area: content;

    overflow-y: auto;
    overflow-x: hidden;

    border-right: solid 1px var(--border-color);
    background-color: rgb(from var(--color-background-1) r g b / .90);
    backdrop-filter: blur(5px);
}

#footer {
    grid-area: footer;

    display: flex;
    align-items: center;

    border-radius: 0 0 15px 15px;
    border: solid 1px var(--border-color);
    background-color: rgb(from var(--color-background-2) r g b / .75);
    backdrop-filter: blur(5px);
}

/* general style overrides*/
input,
button {
    padding: .25em;
    text-align: center;
    transition: .1s;
    border: none;
    color: var(--color-text);
    background-color: var(--color-background-1);
}

input:hover,
button:hover {
    background-color: hsl(from var(--accent-color) h s calc(l * .3));

}

input:focus,
button:active {
    outline: none;
    background-color: hsl(from var(--accent-color) h s calc(l * .5));
}