nav{
    top: 0px;
    transform: translateX(-16px);
    display: flex;
    position: sticky;
    width: calc(100% + 32px) ;
    height: 32px;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
}

nav > a{
    font-family: octosquare;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    padding: 4px 0;
    padding-top: 0px;
    text-align: center;
    transition: .2s;
    background-color: var(--color-background-2);
    text-shadow: 0 0 2px #000;
}

nav > a:hover {
    padding-top: 8px;
}

nav > a:hover:nth-child(3n + 1) {
    background-color: var(--color-cyan);
}
nav > a:hover:nth-child(3n + 2) {
    background-color: var(--color-magenta);
}
nav > a:hover:nth-child(3n + 3) {
    background-color: var(--color-yellow);
}


article {
    position: relative;
    margin: auto;
    text-align: left;
    width: 500px;
}

.metadata {
    border-bottom: solid 3px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.title {
    font-size: 1.5em;
}

.info>* {
    margin: 0 2px;

}

.date {
    position: absolute;
    right: 0;
    top: 0
}

.date::after {
    content: ' UTC';
}

.tangent {
    text-align: center;
    width: 100%;
}

article p.tangent.end {
    border-top: solid 1px;

}

article p.tangent.start {
    border-bottom: solid 1px;
}

.convo {
    margin-top: 44px !important;
    position: relative;
    --bg: var(--color-text-1);
    --text: var(--color-background-2);
    padding: 12px 8px;
    background-color: var(--bg);
    color: var(--text);
    width: max-content;
    max-width: 500px;
    border: 1px solid var(--bg2);
    border-radius: 0 16px 16px 16px;
}

.convo::before {
    position: absolute;
    background-color: var(--bg);
    padding: 6px 8px;
    top: -28px;
    left: 0;
    content: var(--name);
    border-radius: 16px 16px 0 0;

}

.convo.snapps {
    --name: "snapps:";
    font-family: monospace;
    --bg: #4f4f4f;
    --text: #a1d54c;
}

.convo.savak {
    --name: "Savak:";
    font-family: cursive;
    --bg: #9474a1;
    --text: #fff;
}

.song-btn {
    color: #fff;
    background-image: url(/res/img/icon/svg/play.svg);
    background-blend-mode: overlay;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    background-color: var(--color-cyan);
    margin-bottom: 1em;
    background-size: 86px;
    animation: songButtonBoppin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}

.song-btn span:nth-child(1) {
    transition: .2s;
    font-size: 2em;
    margin-left: -.65em;
    font-family: octosquare;


}

.song-btn span:nth-child(1)::before {
    transition: .2s;
    opacity: 0;
    content: '> ';
}

.song-btn:hover span:nth-child(1) {
    font-size: 2em;
    margin-left: 0;
    font-family: octosquare;


}

.song-btn:hover span:nth-child(1):before {
    opacity: 1;
}

.song-btn.pause {
    background-image: url(/res/img/icon/svg/pause.svg);
    background-color: var(--color-yellow);
    animation: songButtonBoppin 2s linear infinite;
}

@keyframes songButtonBoppin {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 86px;
    }

}

details {
    border-radius: 8px;
    margin-bottom: 1em;
    padding: .5em;
    border: solid 1px var(--border-color);
}

summary {
    font-size: 1.5em;
}

details h1{
    font-size: 2em !important;
}

img.notes {
    max-width: 512px;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
    img.notes {
        filter: invert(1) hue-rotate(180deg) saturate(5);
    }
    
article a[href]::after{
     filter: invert(1) hue-rotate(180deg) saturate();
}
}

blockquote {
    --color: #888888;
    position: relative;
    display: block;
    background-color: rgb(from var(--color) r g b / .8);
    background-size: auto 100%;
    border-radius: 12px;

    color: #fff;
    padding: 1em;
    margin: 1em 0;
}

blockquote::before {

    border-radius: 12px;
    z-index: -1;
    background-color: var(--color);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 64px;
    content: '';
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/res/img/icon/svg/quote-left.svg);
}

p.warning {
    margin-top: 2em !important;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-color: var(--color-yellow);
}

p.warning::before {
    content: "⚠ WARNING: ";
}

p.warning::after {
    content: " ⚠";
}

video {
    display: block;
    margin: 1.5em auto;
    max-width: 80%;
    max-height: 80%;
    border-radius: 12px;
    border: solid 2px var(--border-color);
    transition: .2s;
}

video:hover {
    border-color: var(--color-cyan);
}

img.emote {
    transform: translateY(0.1em) scale(1);
    border: none;
    display: inline;
    height: 1.1em;
    width: 1.1em;
    border-radius: 0;
    transition: scale .2s;
}

img.emote:hover {
    scale: 1.5;
}

a.button {
    --color: var(--color-cyan);
    color: #fff !important;
    font-size: 1.5em;
    font-family: octosquare;
    background-color: hsl(from var(--color) h s calc(l * .5));

    text-shadow: 0 0 2px #000;
    text-align: center;
    padding: .25em 1em;
    width: 200px;
    display: block;
    margin: 1em auto;
    margin-top: 0;
    transition: .2s;
    clip-path: polygon(100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%, 0 0);
}

img.raw {
    border: none !important;
    border-radius: 0;
}

.center {
    margin: auto;
}

u {
    text-decoration-color: var(--color-magenta);
    text-decoration-thickness: 2px;
}

b{color: var(--color-cyan);}

i{
    color: var(--color-yellow);
}

ol li::marker {
  font-weight: bold;
  font-family: octosquare;
}

ol li:nth-child(3n+1)::marker{
color: var(--color-cyan);
}
ol li:nth-child(3n+2)::marker{
color: var(--color-magenta);
}
ol li:nth-child(3n+3)::marker{
color: var(--color-yellow);
}

article a[href]::after {
    content: "W";
color:transparent;
background-position: .2em .2em;
background-size: .9em;
background-repeat: no-repeat;
background-image:url(/res/img/icon/svg/external.svg);
}

span.bonus {
    background-image: linear-gradient(90deg, var(--color-cyan),var(--color-magenta),var(--color-yellow),var(--color-cyan));
    animation: scrollHori 2s linear infinite;
    color: transparent;
    background-clip: text;
    background-size: 100px;
}

@keyframes scrollHori{
    0% {background-position: 0;}
    100%{background-position: 100px}
}


pre{
    width: 90%;
    margin: 1em auto;
    padding: .5em;
    border-radius: 12px;
    background-color: var(--color-background-2);
}