@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nova+Square&display=swap');

@font-face {
    font-family: "octosquare";
    src: url("/res/font/octosquare.woff2") format('woff');
}

@font-face {
    font-family: "jost";
    src: url("/res/font/jost.woff") format('woff');
}

:root {
    --fontColor: #eee;
    --accentColor: oklch(70% 0.37 209.65);
    --accentColor1: rgb(0, 238, 255);
    --accentColor2: rgb(255, 0, 255);
}

html {
    overflow: hidden;
}

body {
    font-family: jost;
    color: var(--fontColor);
    margin: 0;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 1.25vmin;
}

h1 {
    font-family: octosquare;
    text-shadow: 1px 1px #444,2px 2px   #222,3px 3px #111,4px 4px #000;
}

/* Background Stuff */

#background {
    background-color: #222;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: backgroundPerspective;
    /*Transform*/
    perspective: 100px;
}

#bgCheck {
    position: absolute;
    width: 200%;
    height: 200%;
    /* Background */

    --dotSize: 40px;
    --dotColor: #333;
    --dotBlurRad: 0px;
    --bgSize: 200px;
    --bgPosition: calc(var(--bgSize) / 2);
    background-image:
        radial-gradient(circle at center, var(--dotColor) var(--dotSize), transparent calc(var(--dotSize) + var(--dotBlurRad))),
        radial-gradient(circle at center, var(--dotColor) var(--dotSize), transparent calc(var(--dotSize) + var(--dotBlurRad)));
    background-size: var(--bgSize) var(--bgSize);
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
    /* Animation */
    animation-name: backgroundPerspective;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* Transform */
}

#bgVingette {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100%);
    background-repeat: repeat;
    image-rendering: crisp-edges;
}

p a:not(.button) {
          background-clip: text;
      -webkit-background-clip: text;
    color: #fffa;
    background-image:linear-gradient(90deg, var(--accentColor2) -10%, var(--accentColor1) 110%);
    transition: .25s;
}

p a:not(.button):hover {
    color: #fff5;
}

@keyframes backgroundHoriScroll {
    0% {
        background-position:0 0;
    }

    100% {
        background-position:100% 0;
    }
}

@keyframes backgroundPerspective {
    0% {
        background-position: 0 0, var(--bgPosition) var(--bgPosition)
    }

    100% {
        background-position: calc(var(--bgSize) * 2) calc(var(--bgSize) * -1), calc(var(--bgPosition) + var(--bgSize) * 2) calc(var(--bgPosition) - var(--bgSize))
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    11% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    22% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    33% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    44% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    55% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    66% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    77% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    88% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate360counter {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

note {
    --color:#0ff;
    --text: '- Note -\a';
    width: 70%;
    background: #0ff3;
    border-left: solid 4px var(--color);
    padding: .5em;
    border-right: solid 4px var(--color);
    margin-bottom: 1em;
}

note:before {
    width: 100%;
    color: #000;
    display: block;
background: var(--color);
    margin-bottom: .5em;
    content: var(--text);
    position: relative;
    padding: .1em 0;
    white-space: pre;
}

note.warn {
    --color:#ff0;
    --text: '- Warning -\a';
    background: #ff03;
}