@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nova+Square&display=swap');

@font-face {
    font-family: "octosquare";
    src: url("/res/font/octosquare.woff2") format('woff');
}

@font-face {
    font-family: "jost";
    src: url("/res/font/jost.woff") format('woff');
}

:root {
    --fontColor: #eee;
    --accentColor: oklch(70% 0.37 209.65);
    --accentColor1: rgb(0, 238, 255);
    --accentColor2: rgb(255, 0, 255);
}

h1 {
    font-family: octosquare;
    text-shadow: 1px 1px #444,2px 2px   #222,3px 3px #111,4px 4px #000;
    filter: drop-shadow(0 0 1px #000);
}

/* Background Stuff */

note {
    --color:#0ff;
    --text: '- Note -\a';
    width: 70%;
    background: #0ff3;
    border-left: solid 4px var(--color);
    padding: .5em;
    border-right: solid 4px var(--color);
    margin-bottom: 1em;
}

note:before {
    width: 100%;
    color: #000;
    display: block;
background: var(--color);
    margin-bottom: .5em;
    content: var(--text);
    position: relative;
    padding: .1em 0;
    white-space: pre;
}

note.warn {
    --color:#ff0;
    --text: '- Warning -\a';
    background: #ff03;
}

/* Background Animations */

@keyframes backgroundHoriScroll {
    0% {
        background-position:0 0;
    }

    100% {
        background-position:100% 0;
    }
}

@keyframes backgroundPerspective {
    0% {
        background-position: 0 0, var(--bgPosition) var(--bgPosition)
    }

    100% {
        background-position: calc(var(--bgSize) * 2) calc(var(--bgSize) * -1), calc(var(--bgPosition) + var(--bgSize) * 2) calc(var(--bgPosition) - var(--bgSize))
    }
}

/* Generic Animations */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    11% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    22% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    33% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    44% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    55% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    66% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    77% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    88% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate360counter {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Text Animations */

@keyframes sqoob {
    0% {transform: scaleX(1.05) scaleY(1);}
    50% {transform: scaleX(1) scaleY(1.1);}
    100% {transform: scaleX(1.05) scaleY(1);}
}

.text-sqoob {
    display: inline-block;
    animation: sqoob 1s ease-in-out infinite;
}

.text-sqoob-off {
    display: inline-block;
    animation: sqoob 1s ease-in-out -.5s infinite;
}

/* Text Classes */

.text-icon {
    position: absolute;
    filter: drop-shadow(0 0 1px #000);
    max-height: 1.2em;
    margin:0 .1em ;
}

/*Navbar*/

nav {
            user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    z-index: 1;
    position: sticky;
    top: 0;
    display:flex;
    width: 100%;
    height: 50px;    
    justify-content: space-around;
    align-items: center;
}


nav a {
    background: rgba(187, 187, 187, 1);
    background: radial-gradient(circle, #555 50%, #333 100%);
    width: 100%;
    height: 100%;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .2s, background-color 0s, color 0s;
    border: solid 1px #222  ;
    border-bottom: solid 1px #000;
    font-size: 4vmin;
    font-family: "octosquare", sans-serif;
    color: #fff;
    -webkit-text-stroke: #000 .3px ;
    text-shadow: 0 0 2px #000;
}

nav a:nth-child(3n+1):hover {
    --color-A: #0ff;
    --color-B: #0cc;
    background-color: var(--color-B);
    background-image: 
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 6px, transparent 0px),
        radial-gradient(var(--color-A) 4px, transparent 0px),
        radial-gradient(var(--color-A) 2px, transparent 0px);
    background-position-y: 5px,15px,25px,35px,45px;
    background-position-x: 0,10px;
    background-repeat: repeat-x;
    background-size: 20px 20px;
}

nav a:nth-child(3n+3):hover {
    --color-A: #ff0;
    --color-B: #cc0;
    background-color: var(--color-B);
    background-image: 
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 6px, transparent 0px),
        radial-gradient(var(--color-A) 4px, transparent 0px),
        radial-gradient(var(--color-A) 2px, transparent 0px);
    background-position-y: 5px,15px,25px,35px,45px;
    background-position-x: 0,10px;
    background-repeat: repeat-x;
    background-size: 20px 20px;
}

nav a:nth-child(3n+2):hover {
    --color-A: #f0f;
    --color-B: #c0c;
    background-color: var(--color-B);
    background-image: 
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 8px, transparent 0px),
        radial-gradient(var(--color-A) 6px, transparent 0px),
        radial-gradient(var(--color-A) 4px, transparent 0px),
        radial-gradient(var(--color-A) 2px, transparent 0px);
    background-position-y: 5px,15px,25px,35px,45px;
    background-position-x: 0,10px;
    background-repeat: repeat-x;
    background-size: 20px 20px;
}

nav a:hover {
    padding-top: 1em; 
    color: #fff;
    text-shadow: 0 0 3px #000;
}
